* {
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
}
.container {
    margin-top: 25px;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
    height: auto;
    width: 100%; 
}

header {
    color: black;
    background-color: white;
    text-align: center;
    left: 0;
    top: 0;
    right: 0;
}

.profile-image {
    float: left;
    border-radius: 25px;
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
        
}

header h1 {
        font-size: 3em;
}
ul {
    list-style-type: none;
    margin: 10px 20px;
    padding: 0;
    text-align: right
}

.banner {
    width: 100%;
    height: 500px;
}

.banner .banner-image {
    height: inherit;
    width: inherit;
    
}

li {
    display: inline-block;
    text-align: right;
    
}
.list-contact-info li {
    
}


span {
    font-size: 1.1em;
    font-weight: bold;
    
}

li a {
    display: block;
    color: #000;
    text-align: right;
    padding: 10px 16px;
    text-decoration: none;
}

a {
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #dededd;
}

.main {
    min-height: 190px;
    background: #D0D3D4;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
    font-size: 1.25em;
}

#footer {
    display: block;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 15px;
    text-align: center;
    position: sticky;
    left: 0;
    bottom: 0;
}
#footer-contact {
    display: block;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 15px;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}


.main h3 {
    padding-top: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
}

p {
    margin-top: 0;
    padding-top: 0;
    padding: 20px;
    font-family: 'Bree Serif', serif;
}
.social-icons {
    text-align: center;
}

img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.current {
    background: lightgrey;
    color: white;
}
